.elemento-no-centro{
  text-align: center;
}

.plano-de-fundo{
  background-color: #dfe6e9
}

.plano-de-fundo-img{
  background-image: url("../img/bg5.jpg");
}

.texto-branco{
  color: white;
}

header .intro-text{
    padding-top: 300px;
    padding-bottom: 200px;
}

.img-circle{
  border-radius: 50%;
}
